html {
  --app-text-color-1: #000;
  --app-text-color-2: #323233;
  --app-text-color-3: #34495e;
  --app-text-color-4: #969799;
  --app-background: #fff;
  --app-primary-color: #1989fa;
}

.van-theme-dark {
  --app-text-color-1: #fff;
  --app-text-color-2: rgb(255 255 255 / 90%);
  --app-text-color-3: rgb(255 255 255 / 75%);
  --app-text-color-4: rgb(255 255 255 / 60%);
  --app-background: #000;
}
